body {  
    background-color:#e8acff;  
   } 

table{
    background-color: lightsalmon;
    margin: auto;
    border-radius: 4%;
    text-align: center;
    width: 300px;
    height: 330px;
    border: black 2px solid;
}

input[type=button]{
margin-left: 17.5px;
background-color:whitesmoke;
width: 40px;
height: 30px;
font-size: 20px;
float:left;
box-shadow: 0 4px rgba(0, 0, 0,0.2);
margin-bottom: 15px;
border-radius: 4px;
}

input[type=button]:hover{
    margin-left: 17.5px;
    background-color:whitesmoke;
    width: 40px;
    height: 30px;
    font-size: large;
    float:left;
    box-shadow: 0 4px #b0d2cf;
    margin-bottom: 15px;
    border-radius: 4px;
    color: darkturquoise;


    }


    input[type=button]:active{
        margin-left: 17.5%;
        background-color:whitesmoke;
        width: 40px;
        height: 30px;
        font-size: large;
        float:left;
        box-shadow: none;
        margin-bottom: 15px;
        border-radius: 4px;
    
        }
    .input_display{
        width: 296px;
        height: 40px;
        border: 2px solid black;
        background-color:wheat;
    
    
}

.Calculator{
    margin-top: 50px;
}

#display{
    background-color: lightsalmon;
    font-size: x-large;
    border-radius: 4%;
    text-align: right ;
    width: 300px;
    border: black 2px solid;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
}
#display:hover{
    background-color: lightsalmon;
    font-size: x-large;
    border-radius: 4%;
    text-align: right ;
    width: 300px;
    border: black 2px solid;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
}
#display:active{
    top: 5px;
    background-color: lightsalmon;
    font-size: x-large;
    border-radius: 4%;
    text-align: right ;
    width: 300px;
    border: black 2px solid;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
}
.operator{  
    background-color: #cee9ea;  
    position: relative ;  
  }  
  .operator:hover{  
    background-color: #cee9ea;  
    position: relative ;  
  }  
  #clear{  
      
    position: relative ;  
    display: block ;  
    background-color: #be0ceb;  
  }  
  #clear:hover{  
      box-shadow: 0 4px#be0ceb;
    float:left;  
    position: relative ;  
    display: block ;  
    background-color: #be0ceb;  
  }  
  #clear:active{ 
      top:4px; 
    float:left;  
    position: relative ;  
    display: block ;  
    background-color: #be0ceb;  
  }  